/*  Header Media */
@media screen and (max-width: 1600px) {
    .header-apresentacao h1 {
        font-size: 4.5em;
     
    }
    
    .header-foto figcaption {
        font-size: 2.5rem;
        
    }
    
    .header-apresentacao {
        margin-left: 2.5rem;
    }
    
    #header-texto-dinamico, #header-texto-dinamico::after {
        font-size: 2.5rem;
    }
    
    .header-foto img {
        width: 35rem;
        height: 35rem;
    }
    
}



@media screen and (max-width: 1440px) {
    .header-apresentacao h1 {
        font-size: 4em;
     
    }
    
    .header-foto figcaption {
        font-size: 2rem;
        color: var(--cor-texto);
    }
    
    .header-apresentacao {
        color: var(--cor-texto);
        margin-left: 2.5rem;
    }
    
    #header-texto-dinamico, #header-texto-dinamico::after {
        font-size: 2rem;
    }
    
    .header-foto img {
        width: 30rem;
        height: 30rem;
    }
    
}

@media screen and (max-width: 850px) {
    
    header {
        flex-direction: column;
        justify-content: center;
    }

  

    .header-apresentacao h1 {
        font-size: 4em;

    }
    
    .header-foto figcaption {
        font-size: 2rem;
        color: var(--cor-texto);
    }
    
    .header-apresentacao {
        color: var(--cor-texto);
        margin-left: 2rem;
    }
    
    #header-texto-dinamico, #header-texto-dinamico::after {
        font-size: 2rem;
    }
    
    .header-foto img {
        width: 30rem;
        height: 30rem;
    }
   
    
}

@media screen and (max-width: 425px) {

    .header-apresentacao h1 {
        font-size: 4em;
    }
    
    .header-foto figcaption {
        font-size: 2rem;
    }
    
    #header-texto-dinamico, #header-texto-dinamico::after {
        font-size: 2rem;
    }
    
    .header-foto img {
        width: 30rem;
        height: 30rem;
    }

    .social-icon {
        font-size: 3.5rem; 
    }
   
}

@media screen and (max-width: 320px) {

    .header-apresentacao h1 {
        font-size: 3em;
    }
    
    .header-foto figcaption {
        font-size: 1.7rem;
    }
    
    #header-texto-dinamico, #header-texto-dinamico::after {
        font-size: 1.7rem;
    }
    
    .header-foto img {
        width: 25rem;
        height: 25rem;
    }
   
    
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    header {
        flex-direction: row; 
    }

    .header-apresentacao h1 {
        font-size: 3em;
    }

    .header-foto img {
        width: 20rem; /* Reduz a imagem para não ocupar toda a tela */
        height: 20rem;
    }

    .header-foto figcaption {
        font-size: 2rem;
    }

    .social-icon {
        font-size: 3.5rem; /* Diminui o espaço entre os ícones */
    }
}