:root {
    --cor-fundo: linear-gradient(
    45deg, 
    #000000 0%, 
    #323232 50%,
    #000000 100%
    );

    --cor-texto: #f2f2f2;
}

body {
    background: var(--cor-fundo);
}


/* Header */

.header-apresentacao h1 {
    font-size: 6em;
}

.header-foto figcaption {
    font-size: 3rem;
    color: var(--cor-texto);
}

.header-apresentacao {
    color: var(--cor-texto);
}

#header-texto-dinamico, #header-texto-dinamico::after {
    font-size: 3rem;
}

