:root {
    --cor-fundo: linear-gradient(
    45deg, 
    #000000 0%, 
    #323232 50%,
    #000000 100%
    );
}

body {
    background: var(--cor-fundo);
}


/* Header */

.header-apresentacao h1 {
    font-size: 5rem;
}

.header-apresentacao p {
    font-size: 3rem;
}

.header-foto figcaption {
    font-size: 3rem;
}

