:root {
    --cor-fundo: linear-gradient(
    45deg, 
    #000000 0%, 
    #323232 50%,
    #000000 100%
    );

    --cor-texto: #f3f3f3;
    --cor-primaria: #333;
    --cor-secundaria: #C0C0C0;
    --cor-terciaria : #323232;
    --cor-hover: #555;
}

body {
    background: var(--cor-fundo);
}


/* Header */

.header-apresentacao h1 {
    font-size: 6em;
    color: var(--cor-texto);
}

.header-foto figcaption {
    font-size: 3rem;
    color: var(--cor-texto);
}

.header-apresentacao {
    color: var(--cor-texto);
}

#header-texto-dinamico, #header-texto-dinamico::after {
    font-size: 3rem;
}

.social-icon {
    font-size: 4.5rem; 
    color: var(--cor-hover);

}

.social-icon:hover {
    color: var(--cor-secundaria); /* Cor ao passar o mouse */
}

